.card-body:hover {background-color:#f2f2f2;}
.bg-light1{background-color:#f2f2f2, !important}

.images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    padding: 30px;
}

.photo {
    max-width: 100.333%;
    padding: 0 10px;
    height: 240px;
}

.photo img {
    width: 100%;
    height: 100%;
}