<p>Transactiondetails works!</p>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/createtxn" routerLinkActive="active"
        >Create Transaction</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewtxn" routerLinkActive="active"
        >View Transaction</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updatetxn" routerLinkActive="active"
        >Edit Transaction</a
      >
    </li>
  
    <li class="nav-item">
      <a class="nav-link" routerLink="/txnlist" routerLinkActive="active"
        >Transaction List</a
      >
    </li>
  </ul>
  