<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/createcus" routerLinkActive="active"
      >Create Customer</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/viewcus" routerLinkActive="active"
      >View Customer</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/updatecus" routerLinkActive="active"
      >Edit Customer</a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/cusnamelist" routerLinkActive="active"
      >Customer Name List</a
    >
  </li>
</ul>
